# Cache do Visual Studio
.vs/

# Ignorar intermediarios de compilação e linkedicao
*.exe
*.o
*.so
*.dll
*.lst  
*.390
*.err
*.lst
*.obj

# Ignorar arquivos temporários, backup, logs e outros
*.tmp
*.bak
*.prn
*.log

# Ignorar .class, .jar, .war, .ear
*.class
*.jar       
*.war
*.ear

# Ignorar diretórios de build
bin/
obj/

# Ignorar diretórios 
OLDs/
tk5/
out/
